body {
  background-color: rgb(129,124,118);
}
h1 {
  display: flex;
  font-size: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: center;
}
#container {
  opacity: 0;
  display:flex;
  justify-content: center;
  animation-fill-mode: forwards;
}
p {
  display: flex;
  font-size: 40px;
  color: antiquewhite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: center;
}
a{
    display:flex ;
    justify-content: center;
    left: 100%;
    top: 100%;
    color: rgb(241, 247, 247);
    font-size: large;
}
@keyframes show {
    from{opacity:0;}
    to{opacity:1;}
}

